.navbar {
    background-color: hsl(210, 9%, 13%);
    display: flex;
    align-items: center;
    padding: 0px 20px;
    height: 100px;
}

.navbarTitle {
    display: flex;
    align-items: center;
}

.logo {
    height: 85px;
    width: auto;
}

.navbarLinks {
    display: flex;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-size: 1em;
    font-weight: bold;
    margin-left: 1vw;
    padding: 0px;
    padding-top: 45px;
}

li {
    display: flex;
    list-style-type: none;
}

li a {
    color: hsl(0, 0%, 100%);
    text-decoration: none;
    display: block;
    padding: 0px 14px;
    display: flex;
}

li a:hover {
    color: hsl(29, 100%, 53%);
}

.logInMenu {
    display: flex;
    align-items: center;
    margin-left: auto;
    border: 2px solid white;
    border-radius: 8px;
    overflow: hidden;
    color: white;
    background-color: hsl(0, 0%, 17%);
}

.logInBtn,
.signUpBtn {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 8px 16px;
    font-weight: 600;
    text-decoration: none;
    transition: all 0.2 ease;
    cursor: pointer;
    color: hsl(0, 0%, 100%);
}

.logInBtn:hover, .signUpBtn:hover {
    color: hsl(29, 100%, 53%);
    background-color: hsl(213, 8%, 21%);
}