.leaflet-popup-content-wrapper, .leaflet-popup-tip {
    background-color: hsla(0, 0%, 0%, 0.75);
    color: white;
    box-shadow: none;
    border: 1px solid hsla(28, 100%, 56%, 0.75);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.leaflet-popup-content .saveCourtPopup {
    background: none;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.leaflet-popup-content p {
    margin: 1px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* font-family: "Helvetica Neue", Arial, Helvetica, sans-serif; */
}

.saveCourtInfo {
    display: flex;
    font-size: 16px;
    text-decoration: none;
    font-weight: 100;
    font-family:Arial, Helvetica, sans-serif;
}

.orInfo {
    display: flex;
    align-items: center;
    font-size: 16px;
    margin: 0;
    padding: 5px;
    text-decoration: none;
    font-weight: 100;
    font-family:Arial, Helvetica, sans-serif;
}

.saveCourtBtn {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    margin: 0;
    border: 2px solid hsla(28, 100%, 56%, 0.75);
    color: hsla(28, 100%, 56%);
    background: hsl(0, 0%, 100%);
    font-size: 15px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
}

.saveCourtBtn:hover {
    background: hsla(28, 100%, 56%);
    color: hsl(0, 0%, 100%);
}