body {
    background-color: rgb(255, 255, 255);
}

.contact-container {
    background-color: hsl(0, 1%, 17%);
    color: white;
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 60px auto;
    text-align: center;
}

label {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

button {
    margin-bottom: 5px;
}