.modal-backdrop {
    position: fixed;
    inset: 0;
    background: hsla(0, 0%, 0%, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3000;
}

.filters-modal {
    background: hsl(210, 9%, 13%);
    position: relative;
    width: 30%;
    padding: 0;
    border-radius: 12px;
    border: 5px solid hsla(28, 100%, 56%, 0.75);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    overflow: hidden;
    z-index: 5000;
    color: white;
}

.filters-modal h2 {
    font-size: 35px;
    text-align: center;
    padding: 0 0 10px 0;
    margin: 15px 0 0px 0;
    border-bottom: 4px solid hsla(28, 100%, 56%, 0.75);
}

.filter-section {
    display: flex;
    flex-direction: column;
    margin: 0 20%;
}

.filter-section h3 {
    font-size: 1.4em;
    margin-top: 10px;
    margin-bottom: 10px;
}

.filter-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0px;
    padding: 6px 0;
}

.filter-icon svg{
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.filter-icon {
    cursor: pointer;
}

.checkbox {
    flex-shrink: 0;
    cursor: pointer;
}

.filter-label {
    cursor: pointer;
    padding: 0px;
    font-size: 1em;
}

.filter-grid {
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-auto-flow: column;
}

.closeFiltersModalBtn {
    position: absolute;
    top: 10px;
    right: 12px;
    background: transparent;
    border: none;
    font-size: 30px;
    cursor: pointer;
    color: hsl(0, 0%, 100%);
}

.closeFiltersModalBtn:hover {
    color: hsla(28, 100%, 56%);
}

.view-results {
    display: flex;
    justify-content: center;
    border-top: 4px solid hsla(28, 100%, 56%, 0.75);
    padding: 10px 0 5px 0;
}

.view-results button {
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    background: hsla(28, 100%, 56%);
    color: hsl(0, 0%, 100%);
    font-size: 15px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
}

.view-results button:hover {
    background: hsl(0, 0%, 100%);
    color: hsla(28, 100%, 56%);
}
