.legend-container {
    background-color: hsl(0, 0%, 100%);
    max-width: 20em;
    height: auto;
    margin: 4em 0 0 55em;
    border-radius: 25px;
    border-style: solid;
    border-color: hsl(28, 100%, 56%);
    border-width: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.legend-title {
    text-align: center;
    font-weight: bold;
    margin-top: 5px;
    padding-bottom: 5px;
    border-bottom: 5px solid hsl(28, 100%, 56%);
}

.legendDescription {
    font-size: 0.9em;
    font-weight: bold;
    text-align: center;
}

.legend-row {
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    align-items: center;
    gap: 10px;
    padding: 6px 10px;
}

.legend-row:not(:last-child) {
    border-bottom: 1px solid hsla(0, 0%, 0%, 0.1);
}

.legend-row span {
    text-align: center;
    font-size: 0.9em;
}

.iconDescriptions {
    list-style: none;
    padding: 0;
    margin: 0;
    padding-bottom: 10px;
}

.ballIcon {
    height: 30px;
    width: auto;
    justify-self: center;
}

.pinIcon {
    height: 40px;
    width: auto;
    justify-self: center;
}