.map {
    height: 100%;
    width: 100%;
    position: relative;
}

.map-toggle-wrapper {
    position: absolute;
    bottom: 16px;
    left: 60px;
    z-index: 1000;
}

.map-toggle-wrapper::after {
    content: attr(data-tooltip);
    position: absolute;
    top: 70px;
    left: 130px;
    transform: translate(-50%, -100%);
    opacity: 0;
    transition: opacity 0.15s ease;
    background-color: hsla(0, 0%, 0%, 0.85);
    color: white;
    padding: 6px 8px;
    border-radius: 6px;
    font-size: 12px;
    white-space: nowrap;
    transition: opacity 0.15s ease;
    z-index: 2000
}


.map-toggle-wrapper:hover::after {
    opacity: 1;
}

.map-toggle {
    width: 72px;
    height: 72px;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.35);
    overflow: hidden;
    position: relative;
}

.map-toggle img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.icon-sidebar {
    background-color: hsla(0, 0%, 0%, 0.6);
    position: absolute;
    top: 15px;
    right: 0px!important;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    pointer-events: auto;
    z-index: 1000;
}

.icon-btn {
    background: transparent;
    width: 40px;
    height: 40px;
    border: none;
    font-size: 20px;
    color: white;
    cursor: pointer;
    margin: 0px;
    position: relative;
}

.icon-btn::after {
    content: attr(data-tooltip);
    position: absolute;
    right: 110%;
    top: 50%;
    transform: translateY(-50%);
    background: hsla(0, 0%, 0%, 0.85);
    color: white;
    padding: 6px 8px;
    border-radius: 6px;
    font-size: 12px;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.15s ease;
    z-index: 2000
}

.icon-btn:hover::after {
    opacity: 1;
}

.icon-btn:hover {
    background-color: hsla(0, 0%, 0%, 0.8);
}

.leaflet-touch .leaflet-control-zoom a {
    width: 36px;
    height: 36px;
    line-height: 36px;
    font-size: 20px;
    background-color: hsla(0, 0%, 7%, 0.8);
    color: white;
    border: none;
}

.leaflet-control-zoom a:hover {
    background-color: hsla(0, 0%, 0%, 0.9);
}

.leaflet-bar {
    border-radius: 8px;
    overflow: hidden;
    box-shadow: none;
}

.leaflet-bar a {
    border-radius: 0;
}

.leaflet-bar a:first-child {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.leaflet-bar a:last-child {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar {
    border: none;
}

.leaflet-left .leaflet-control {
    margin-left: 15px;
    margin-bottom: 15px;
}

.leaflet-container .leaflet-control-attribution {
    margin-bottom: 0;
    background-color: rgba(255, 255, 255, 0.6);
}

.leaflet-container {
    cursor: grab;
}
