.leaflet-popup-content .saveCourtPopup {
    background-color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.saveCourtInfo {
    display: flex;
    padding: 10px;
    margin: 5px;
    font-size: 18px;
    text-decoration: none;
    font-weight: 100;
    font-family:Arial, Helvetica, sans-serif;
}

.orInfo {
    display: flex;
    align-items: center;
    margin: 0;
    font-size: 18px;
    text-decoration: none;
    font-weight: 100;
    font-family:Arial, Helvetica, sans-serif;
}

.saveCourtBtn {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    margin: 14px 0 5px 0;
    border: 2px solid hsla(28, 100%, 56%, 0.75);
    color: hsla(28, 100%, 56%);
    background: hsl(0, 0%, 100%);
    font-size: 15px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
}

.saveCourtBtn:hover {
    background: hsla(28, 100%, 56%);
    color: hsl(0, 0%, 100%);
}