body {
    margin: 0;
}

.home-container {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 60px auto;
  text-align: center;
}

.search-box {
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #ccc;
  margin-top: 20px;
}

.near-me-btn {
  margin-top: 20px;
  padding: 15px;
  border: none;
  background: black;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}