html, body {
  height: 100%;
  background-color: hsl(210, 9%, 13%);;
  overflow: hidden;
}

/* positions the legend on to the map */
.map-wrapper {
  position: relative;
  width: 100%;
  height: 80%;
  overflow: hidden;
}

#root {
  height: 100%;
}